<div class="header">

</div>
<div class="body">
  <div class="tool-title">
    <mat-icon>home </mat-icon>
    <p>/</p>
    <p>
      Khuyến mãi - Giảm giá
      /
      Sale Trạm Quần Áo
      /
      Trạm Công Nghệ
      /
      Quần Tây Casual Non-Iron 19 Đen</p>
  </div>
</div>
<div class="outline">
  <div class="image">
    <img class="product" src="{{productDetail.imgBefore}}" alt="">
  </div>
  <div class="info">
    <p class="name-product">{{productDetail.name}}</p>
    <p class="price">{{productDetail.price | number: '1.3-3'}} đ</p>
    <p>SALE TRẠM QUẦN ÁO</p>
    <p class="price-discount">{{productDetail.priceDiscount | number: '1.3-3'}} đ</p>
    <p style="font-size: 14px; color: #A8A8A8">Giá Hời áp dụng đến hết ngày 31/08/2025</p>
    <button class="cart-btn" (click)="$event.stopPropagation(); addToCart(productDetail.name)">THÊM VÀO GIỎ HÀNG</button>

  </div>
</div>
