<mat-toolbar class="header">
  <div class="container-header">
    <div class="logo">
        <img Src="https://res.yame.vn/Content/images/yame-f-logo-white.png?v=20258" alt="">
    </div>
    <div class="menu">
      <div class="drop">
         <button class="drop-btn">KHUYẾN MÃI - GIẢM GIÁ <mat-icon>keyboard_arrow_down</mat-icon></button>
        <div class="drop-content">
          <a href="#">Đồng Giá 88k</a>
          <a href="#">Sale Trạm Quần Áo</a>
          <a href="#">Sale Trạm Phu Kiện</a>
          <a href="#">Manga Super Sale</a>
          <a href="#">Giá Đặc Biệt</a>
          <a href="#">Outlet Sale 50%</a>
        </div>
      </div>
      <div class="write">
        <a href="https://yame.vn/shop/hang-mo-ban?sort=11">MỞ BÁN TUẦN NÀY</a>
      </div>
      <div class="drop">
        <button class="drop-btn">QUẦN ÁO <mat-icon>keyboard_arrow_down</mat-icon></button>
        <div class="drop-content">
          <a href="#">Áo Thun</a>
          <a href="#">Áo Khoác</a>
          <a href="#">Áo Sơ Mi</a>
          <a href="#">Quần Short</a>
          <a href="#">Quần Dài</a>
          <a href="#">Quần Lót</a>
        </div>
      </div>
      <div class="drop">
        <button class="drop-btn">PHỤ KIỆN <mat-icon>keyboard_arrow_down</mat-icon></button>
        <div class="drop-content">
          <a href="#">Balo</a>
          <a href="#">Túi Đeo</a>
          <a href="#">Nón</a>
          <a href="#">Ví</a>
          <a href="#">Dây nịt</a>
          <a href="#">Dép</a>
          <a href="#">Giày</a>
          <a href="#">Khăn</a>
          <a href="#">Nước Hoa</a>
          <a href="#">Vớ</a>
          <a href="#">Dụng Cụ Cá Nhân</a>
        </div>
      </div>
      <div class="drop">
        <button class="drop-btn"><mat-icon>menu</mat-icon> <mat-icon>keyboard_arrow_down</mat-icon></button>
        <div class="drop-content-menu">
          <a href="#">Đồng Giá 88k</a>
          <a href="#">Sale Trạm Quần Áo</a>
          <a href="#">Sale Trạm Phu Kiện</a>
          <a href="#">Manga Super Sale</a>
          <a href="#">Giá Đặc Biệt</a>
          <a href="#">Outlet Sale 50%</a>
        </div>
      </div>

    </div>
    <div class="icon">
      <mat-icon>search</mat-icon>
      <mat-icon>newspaper</mat-icon>
      <mat-icon>person</mat-icon>
      <button class="icon-btn" (click)="navigateToCart()">
        <mat-icon>shopping_bag</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

